.container__skillContent {
    margin-top: 100px;
    h1 {
        color: #FFF;
        margin-bottom: 16px;
    }
    .listContainer {
        background-color: #242424;
        border: 1px solid #FFF;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        justify-content: space-evenly;
        max-height: 84px;
    }
}