.content {
    padding: 0 64px;
}
.toggleBtn {
    position: fixed;
    right: 25px;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
}

.off {
    display: none;
}

@media screen and (max-width: 646px) {
    .off {
        display: block;
    }
    .content {
        padding: 0 24px;
    }
}

@media screen and (max-width: 374px) {
    .content {
        padding: 0px;
    }
}