.container__card {
    text-align: center;
    background-color: transparent;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.15), 0 16px 32px rgba(0, 0, 0, 0.15), 0 32px 64px rgba(0, 0, 0, 0.15);
    h1 {
        color: #FFF;
    }
    span {
        display: flex;
        gap: 8px;
    }
    .tag__container {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    .tag__item {
        font-size: 12px;
        font-weight: 600;
        color: #FFF;
        text-transform: lowercase;
        border: 1px solid #bebebe;
        padding: 4px 14px;
        border-radius: 8px;
        margin: 8px 0;
    }
    img {
        width: 320px;
        height: 180px;
        border-radius: 8px;
    }
}

.container__cardModal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 14px;
    img {
        width: 500px;
    }
    .titleModal {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    h1 {
        color: #FFF;
    }
    P {
        opacity: 50%;
        color: #F8F7F9;
    }
    .tag__item {
        font-size: 12px;
    }
    .onlyModalPort {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 20px 0;
    }
    .tag__container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        .tag__item {
            list-style: none;
            opacity: 50%;
            color: #F8F7F9;
        }
    }
    .links__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        .demo {
            text-decoration: none;
            padding: 4px 8px;
            border: 1px solid #bebebe;
            border-radius: 18px;
            font-size: 18px;
        }
        a {
            color: #F8F7F9;
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 820px) {
    .container__cardModal {
        flex-direction: column-reverse;
        img {
            width: auto;
        }
    }
}
@media screen and (max-width: 420px) {
    .container__card {
        padding: 20px 16px;
    }
}
@media screen and (max-width: 400px) {
    .container__card {
        padding: 0;
    }
}