.navContainer {
    h1 {
        color: #FFF;
    }
    z-index: 2;
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    .listAncor__container {
        display: flex;
        gap: 42px;
        a {
            color: #FFF;
            text-decoration: none;
            font-size: 18px;
        }
        a:hover {
            border-bottom: 1px solid #FFF;
            font-weight: 700;
        }
    }
    .linksMidias {
        border-left: 1px solid #F8F7F9;
        a {
            padding-top: 4px;
            margin-left: 42px;
            color: #F8F7F9;
        }
    }
}
.navDown {
    position: fixed;
    top: 20px;
    width: 91%;
    max-width: 1312px;
    margin: 0;
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 
        0 1px 2px rgba(0, 0, 0, 0.15),
        0 2px 4px rgba(0, 0, 0, 0.15),
        0 4px 8px rgba(0, 0, 0, 0.15),
        0 8px 16px rgba(0, 0, 0, 0.15),
        0 16px 32px rgba(0, 0, 0, 0.15),
        0 32px 64px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 646px) {
    .navContainer {
        flex-direction: column;
        text-align: center;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #000;

        transform: translateX(600px);
        top: 0;
        padding: 20px;
        margin-top: 0;
        transition: .5s all;
    }
    .off {
        transform: translateX(-63px);
    }
    .listAncor__container {
        flex-direction: column;
        align-items: center;
    }
    .navDown {
        border-radius: 0;
    }
}